$color-textMain: #31353B;
$color-textDark: #000000;
$color-text: #333333;
$color-textAccent: #FF9900;
$color-backgoundAbout: #BDCCFF;
$color-ligth: #FFFFFF;
$color-border: #DADADA;
$color-backgoundButton: #F85A47;
