$color-textMain: #31353B;
$color-textDark: #000000;
$color-text: #333333;
$color-textBlog: #545A58;
$color-textLocation: #666666;
$color-textLink: #2CBDE7;
$color-textAccent: #FF9900;
$color-backgoundAbout: #BDCCFF;
$color-ligth: #FFFFFF;
$color-border: #DADADA;
$color-borderContact: #EBEBEB;
$color-backgoundButton: #F85A47;
$color-backgoundBlog: #F1FFFF;
