.footer {
    padding-top: 61px;
    padding-bottom: 36px;
    border-top: 1px solid #DEDFE1;
}

.footer__container {
    max-width: 910px;
    padding: 0 15px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
}

.footer__logo {
    font-size: 23px;
    font-weight: 800;
    line-height: 31px;
}
.footer__menu {
    align-self: start;
}

.menu-footer__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}

.menu-footer__link {
    font-family: "DM Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    &:hover {
        text-decoration: underline;
    }
}

.footer__copy {
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}

@media (max-width: 767.98px){
    .footer__container{
        flex-direction: column;
        gap: 20px;
    }
    .footer__menu{
        align-self: center;
    }
    .menu-footer__list{
        justify-content: center;
        row-gap: 15px;
    }
    .menu-footer__link{
        font-size: 18px;
    }
}