.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 23px;
    font-weight: 800;
    line-height: 31px;
}

.header__menu {
    align-self: flex-start;
}

.menu-header__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}

.menu-header__item {
    display: flex;
    align-items: flex-start;
}

.menu-header__link {
    font-family: "DM Sans";
    font-size: 13px;
    font-weight: 700;
    color: $color-textDark;
    &:hover {
        text-decoration: underline;
    }
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: fixed;
    top: 40%;
    right: 36px;
}



@media (max-width: 767.98px){
    .header__container{
        flex-direction: column;
        gap: 20px;
    }
    .header__menu{
        align-self: center;
    }
    .menu-header__list{
        justify-content: center;
        row-gap: 15px;
    }
    .menu-header__link{
        font-size: 18px;
    }
}