.subscibe {
    padding: 105px 0 30px 0;
}

.subscibe__header {
    text-align: center;
}

.subscibe__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    margin: 162px 0 11px 0;
}

.subscibe__subtitle {
    font-size: 23px;
    font-weight: 700;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    margin-bottom: 34px;
}

.subscibe__form {
    margin: 0 auto 129px;
    max-width: 686px;
}

.form-subscibe {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 26px 30px 26px 45px;
    background-color: $color-ligth;
    box-shadow:
        0px 3.02px 3.15px 0px rgba(0, 0, 0, 0.01),
        0px 13.28px 6.52px 0px rgba(0, 0, 0, 0.02),
        0px 32.6px 13px 0px rgba(0, 0, 0, 0.02),
        0px 62.79px 25.48px 0px rgba(0, 0, 0, 0.02),
        0px 105.65px 46.85px 0px rgba(0, 0, 0, 0.03),
        0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}
.form-subscibe__content {
    flex: 1 1 auto;
}

.form-subscibe__label {
    display: block;
    margin-bottom: 11px;
    font-size: 17px;
    font-weight: 500;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    opacity: 0.2;
}

.form-subscibe__input {
    width: 100%;
    flex: 1 1 auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 144.2%;
    letter-spacing: 0.02em;
}

.form-subscibe__button {
    min-height: 72px;
    padding: 5px 40px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    box-shadow:
        0px 1.85px 3.15px 0px rgba(248, 90, 71, 0.02),
        0px 8.15px 6.52px 0px rgba(248, 90, 71, 0.03),
        0px 20px 13px 0px rgba(248, 90, 71, 0.04),
        0px 38.52px 25.48px 0px rgba(248, 90, 71, 0.04),
        0px 64.81px 46.85px 0px rgba(248, 90, 71, 0.05),
        0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}

@media (max-width: 1199.98px) {
    .subscibe {
        padding: 40px 0 60px 0;
    }
    .subscibe__title{
        margin-top: 60px;
    }
    .form-subscibe{
        padding: 26px 0;
    }
}

@media (max-width: 990.98px) {
    .subscibe {
        padding: 30px 0 50px 0;
    }
    .subscibe__title{
        margin-top: 40px;
    }
    .subscibe__form{
        margin-bottom: 60px;
    }
}

@media (max-width: 767.98px) {
    .subscibe {
        padding: 30px 0 30px 0;
    }
    .subscibe__title {
        font-size: 35px;
        line-height: 120%;
        margin-top: 30px;
    }
    .subscibe__subtitle {
        font-size: 20px;
    }
    .form-subscibe{
        flex-direction: column;
        align-items: normal;
    }
    .subscibe__form{
        margin-bottom: 40px;
    }
}

@media (max-width: 520px) {
}
